.buff-shield {
  width: 30px;
  height: 30px;
  position: relative;
}
.buff-shield::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #879aa5,#4f7477, #2c333c);
  clip-path: polygon(50.00% 0.00%, 92.33% 22.00%, 90.67% 51.50%, 88.17% 62.17%, 83.67% 72.83%, 77.50% 81.83%, 70.67% 88.50%, 61.67% 94.67%, 50.83% 99.83%, 41.83% 96.50%, 31.33% 90.00%, 23.67% 83.00%, 17.67% 75.00%, 12.83% 64.83%, 10.17% 55.33%, 7.67% 28.83%, 7.67% 22.00%, 50.00% 0.00%);
  z-index: 1;
}
.buff-shield::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, transparent 50%, rgba(0, 0, 0, 0.2) 50%);
  clip-path: polygon(50.00% 0.00%, 92.33% 22.00%, 90.67% 51.50%, 88.17% 62.17%, 83.67% 72.83%, 77.50% 81.83%, 70.67% 88.50%, 61.67% 94.67%, 50.83% 99.83%, 41.83% 96.50%, 31.33% 90.00%, 23.67% 83.00%, 17.67% 75.00%, 12.83% 64.83%, 10.17% 55.33%, 7.67% 28.83%, 7.67% 22.00%, 50.00% 0.00%);
  z-index: 2;
}
.buff-reduction {
  width: 30px;
  height: 30px;
  position: relative;
}
.buff-reduction::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #00eaff,#00a2ff, #0073ff);
  clip-path: polygon(79.69% 11.91%, 81.08% 12.57%, 81.47% 13.79%, 81.32% 15.80%, 80.76% 18.46%, 79.30% 23.44%, 76.46% 29.49%, 70.57% 40.28%, 67.90% 42.89%, 63.65% 45.10%, 63.16% 46.02%, 65.65% 46.07%, 66.97% 46.22%, 67.11% 46.46%, 66.36% 48.35%, 63.23% 55.07%, 61.57% 57.93%, 59.91% 60.13%, 58.30% 61.87%, 56.74% 63.13%, 54.13% 64.43%, 50.46% 65.75%, 49.41% 66.70%, 50.98% 67.29%, 51.71% 67.85%, 51.61% 68.38%, 51.22% 68.97%, 50.54% 69.60%, 48.75% 70.68%, 45.87% 72.19%, 43.19% 73.22%, 40.70% 73.75%, 39.06% 75.07%, 38.28% 77.17%, 37.60% 80.15%, 36.72% 86.06%, 36.21% 88.28%, 35.77% 88.87%, 35.08% 89.09%, 34.16% 88.94%, 33.57% 88.50%, 33.33% 87.77%, 33.42% 85.89%, 34.08% 81.35%, 37.60% 66.80%, 42.68% 53.91%, 47.94% 44.95%, 48.68% 43.36%, 48.19% 43.55%, 46.81% 45.24%, 43.62% 49.68%, 41.62% 53.02%, 38.67% 58.98%, 35.56% 68.55%, 34.72% 70.63%, 34.23% 71.07%, 33.76% 71.12%, 33.33% 70.78%, 32.52% 69.21%, 31.35% 66.43%, 30.61% 63.09%, 30.23% 58.29%, 30.40% 54.69%, 31.03% 51.37%, 31.84% 48.75%, 32.81% 46.85%, 33.81% 45.75%, 34.84% 45.46%, 35.62% 43.68%, 36.16% 40.41%, 36.91% 37.65%, 37.89% 35.40%, 39.09% 33.23%, 40.50% 31.13%, 42.57% 28.67%, 45.81% 25.33%, 48.80% 22.85%, 55.30% 18.56%, 58.77% 16.81%, 66.23% 14.05%, 70.00% 13.13%, 79.69% 11.91%);
  z-index: 2;
}
.buff-attack {
  width: 30px;
  height: 30px;
  position: relative;
}
.buff-attack::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #ffe897, #f3b94e, #daae36);
  clip-path: polygon(47.19% 1.02%, 47.97% 1.17%, 48.44% 1.88%, 49.61% 8.28%, 50.70% 10.70%, 52.11% 10.31%, 55.16% 8.13%, 59.77% 3.13%, 60.86% 3.20%, 61.56% 6.17%, 61.56% 8.98%, 60.39% 14.06%, 60.62% 16.48%, 68.59% 27.50%, 69.53% 32.81%, 70.78% 35.08%, 73.20% 37.58%, 80.55% 43.75%, 81.02% 44.53%, 80.47% 46.09%, 78.13% 48.67%, 76.64% 49.53%, 74.38% 49.92%, 73.13% 51.88%, 71.48% 52.66%, 69.30% 52.73%, 65.78% 50.70%, 61.41% 49.30%, 58.44% 49.30%, 57.03% 49.92%, 56.48% 50.78%, 56.48% 54.61%, 57.81% 59.14%, 59.53% 61.88%, 65.23% 68.91%, 66.88% 71.80%, 67.81% 74.45%, 67.73% 74.92%, 66.88% 74.69%, 66.80% 75.16%, 68.36% 81.02%, 68.67% 85.23%, 68.28% 85.39%, 67.73% 84.69%, 67.34% 84.77%, 67.27% 88.91%, 66.64% 92.34%, 65.23% 97.27%, 64.22% 99.45%, 62.73% 95.39%, 62.27% 95.16%, 62.03% 97.03%, 61.56% 97.03%, 59.69% 94.61%, 56.88% 92.11%, 56.95% 94.61%, 56.72% 94.77%, 52.89% 91.48%, 49.92% 89.45%, 46.02% 87.50%, 43.44% 86.72%, 43.36% 87.19%, 44.38% 89.53%, 44.30% 89.92%, 43.91% 89.92%, 41.33% 88.36%, 34.77% 85.78%, 30.63% 83.75%, 27.34% 81.48%, 24.45% 78.36%, 23.98% 79.06%, 23.91% 81.02%, 23.28% 81.09%, 20.63% 78.52%, 18.36% 75.16%, 17.19% 72.03%, 16.64% 69.45%, 15.23% 70.55%, 14.69% 70.47%, 15.23% 66.02%, 17.66% 59.53%, 17.58% 59.30%, 16.88% 59.61%, 16.64% 59.22%, 18.28% 53.98%, 20.55% 40.86%, 20.39% 40.63%, 19.38% 41.02%, 19.30% 40.47%, 21.17% 34.77%, 24.30% 29.30%, 23.28% 29.30%, 23.20% 28.91%, 25.23% 26.17%, 29.53% 21.95%, 28.83% 21.72%, 29.22% 20.94%, 32.58% 18.44%, 36.80% 16.02%, 38.28% 14.69%, 43.98% 4.30%, 45.16% 2.73%, 47.19% 1.02%);
  z-index: 1;
}