#modal-game {
  position: absolute;
  top: 0;
  left: 0;
  display: none; /* 通常時はflexで使用 */
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 20px;
  gap: 20px;
  overflow-y: visible;
}

#enemy-container {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 15px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
  min-height: 200px;
  /* スクロール可能に */
  overflow-x: auto;
  overflow-y: visible;
  -ms-overflow-style: none;
  scrollbar-width: none;
  -webkit-overflow-scrolling: touch;
}
#enemy-container::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
}


#player-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 20px;
  background-color: rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
}
.player-container-center-and-right {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
  box-sizing: border-box;
}

.player-container-left,
.player-container-center,
.player-container-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  gap: 15px;
}

.player-container-left-button {
  position: relative;
  width: 100%;
  padding: 10px 20px;
  background-color: #e0e0e0;
  background-image: url('../assets/images/paper.jpg');
  background-size: cover;
  background-blend-mode: luminosity;
  border: 1px solid #222;
  border-radius: 5px;
  color: #333;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s;
}
#item-button::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translateY(-50%);
  width: 80%;
  height: 80%;
  background-image: url('../assets/images/Storage.ico');
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 5px;
  z-index: 1;
}
#pair-button::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translateY(-50%);
  width: 80%;
  height: 70%;
  background-image: url('../assets/images/Document.ico');
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 5px;
  z-index: 1;
}

.dice-area {
  display: flex;
  gap: 15px;
  margin-bottom: 15px;
}
.dice {
  position: relative;
  width: 60px;
  height: 60px;
  background-color: #f0f0f0;
  color: #333;
  border: 2px solid #ccc;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.dice:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 12px rgba(255, 255, 255, 0.2);
}
.dice:hover::before {
  content: '';
  position: absolute;
  top: -3px;
  left: -3px;
  right: -3px;
  bottom: -3px;
  border: 2px solid rgb(255, 0, 0);
  border-radius: 8px;
}
.dice.hold {
  transform: translateY(-5px);
  border: 2px solid rgb(255, 0, 0);
}
.dice-hand-info {
  text-align: center;
}
#dice-hand-info-title {
  text-align: center;
  margin-bottom: 10px;
}
#dice-hand-info-effect-title {
  font-size: 0.8rem;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid #555;
}
#dice-hand-info-effect-value {
  font-size: 0.8rem;
  text-align: center;
  margin: 10px 0;
  font-family: serif;
}

.player-card-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.card {
  position: relative;
  height: 100%;
  aspect-ratio: 5 / 7;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  text-align: center;
}
.card.player {
  background-color: rgb(0, 0, 0, 0.6);
  background-image: url('../assets/images/b_paper.jpg');
  background-blend-mode: multiply;
  padding: 15px;
}
.card.player > * {
  position: relative;
  z-index: 2;
}
.card.player::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, #B87F33, #674F30);
  padding: 4px;
  -webkit-mask:
     linear-gradient(#fff 0 0) content-box, 
     linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;
  z-index: 3;
  pointer-events: none;
}
.game-image-container {
  width: 70%;
  margin: 0 auto;
  height: 50%;
  background-color: #fff;
  border: 2px solid #FFD700;
  border-radius: 5px;
  box-sizing: border-box;
  overflow: hidden;
}
.game-image-container img:not(.ascension) {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  animation: floating 4s infinite ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-drag: none;
  -moz-user-drag: none;
  -ms-user-drag: none;
  -o-user-drag: none;
}
.game-image-container img.ascension {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@keyframes floating {
  0%   { transform: translate3d(0, 3px, 0) scale(1.1); }
  50%  { transform: translate3d(0, -3px, 0) scale(1.1); }
  100% { transform: translate3d(0, 3px, 0) scale(1.1); }
}
.status-bar {
  position: relative;
  height: 20px;
  background-color: #333; /* 枠 */
  border: 1px solid #222;
  border-radius: 10px;
  overflow: hidden;
  margin: 10px 0 0;
}
.status-bar.hp {
  background-color: #444; /* HP専用の下地色 */
}
.status-bar .label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: .9rem;
  font-weight: bold;
  white-space: nowrap;
  color: #fff;
  text-shadow: 1px 1px 2px black;
  z-index: 2;
  user-select: none;
}
#player-hp, #player-max-hp {
  font-size: .9rem;
  font-weight: bold;
  color: #fff;
}
#player-bar {
  height: 100%;
  background: linear-gradient(to bottom, #2ecc71, #27ae60);
  transition: width 0.3s ease;
}

.buff-container {
  display: flex;
  width: 100%;
  height: 30px;
  justify-content: space-around;
}
.buff {
  position: relative;
}
.buff-number {
  width: 12px;
  height: 12px;
  font-size: 8px;
  position: absolute;
  top: 70%;
  left: 70%;
  text-align: center;
  color: #eee;
  background-color: #333;
  border: 1px solid #e8d9b6;
  border-radius: 50%;
  z-index: 1000;
}
/* buffはbuff.cssで管理 */
.skill-point {
  font-size: 0.8rem;
  font-family: serif;
  text-align: center;
  white-space: nowrap;
}
.skills {
  display: flex;
  gap: 10px;
}
.skill-btn {
  position: relative;
  width: 90%;
  padding: 3px 5px;
  color: #e8d9b6;
  font-family: serif;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
  background-color: rgba(30, 30, 30, 0.5); 
  border: 1px solid #706040; 
  border-radius: 5px;
  box-shadow: 
    inset 0 0 8px rgba(0, 0, 0, 0.6), 
    1px 1px 0px rgba(255, 255, 255, 0.1);
  transition: all 0.3s ease;
}
.skill-btn:hover {
  border-color: #a09070;
  background-color: rgba(30, 30, 30, 0.3); 
  box-shadow: 0 3px 6px rgba(255, 255, 255, 0.2);
}
.skill-btn:hover::before {
  content: '';
  position: absolute;
  top: -3px;
  left: -3px;
}

.dice-buttons {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-group-container {
  display: grid;
  place-items: center;
  position: relative;
}
.button-group {
  grid-area: 1 / 1;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.button-group.active {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.button-group[data-phase="2"] {
  flex-direction: row;
}
@media (max-width: 768px) {
  .button-group[data-phase="2"] {
    flex-direction: column;
  }
}
.button-group button {
  padding: 5px 15px;
  background: transparent;
  border: 1px solid #00ff88;
  color: #00ff88;
  border-radius: 20px;
  text-align: center;
}

.card.enemy {
  position: relative;
  height: 100%;
  aspect-ratio: 5 / 7;
  background-color: rgb(0, 0, 0, 0.3);
  border: 1px solid #555;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  text-align: center;
}
.card .enemy-name {
  font-size: .9rem;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  z-index: 10;
}
.card.enemy img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
  object-fit: cover;
}
.card.boss img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
}
.card .enemy-hp {
  font-size: 0.8rem;
  font-family: serif;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  z-index: 10;
}
.card .enemy-attack {
  position: absolute;
  top: -10px;
  left: -10px;
  font-size: 0.8rem;
  font-weight: bold;
  width: 25px;
  height: 25px;
  display: grid; /* この行を追加 */
  place-items: center;
  white-space: nowrap;
  border-radius: 50%;
  background:
    radial-gradient(
      circle at 20% 80%,
      hsla(0, 70%, 55%, 0.6),
      hsla(0, 0%, 0%, 0) 35%
    ),
    radial-gradient(
      circle at 80% 20%,         /* 光の中心を右上寄りに */
      hsla(0, 70%, 55%, 0.6),      /* 中心の色（少し明るい赤）*/
      hsla(0, 0%, 0%, 0) 25%     /* 25%地点で透明に */
    ),
    radial-gradient(
      circle,
      hsla(0, 0%, 5%, 0.9) 40%,  /* 中心の濃い黒 */
      hsla(0, 0%, 0%, 0) 100%     /* 85%地点で透明にフェードアウト */
    );
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}


.card.target {
  overflow: visible; 
}
.card.target::before {
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  border: 2px solid #ff3333;
  animation: pulse-border 0.6s infinite alternate ease-in-out;
}
.card.target::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  aspect-ratio: 1 / 1;
  background: url('../assets/images/target.png') no-repeat center center;
  background-size: contain;
  animation: pulse-icon 0.6s infinite alternate ease-in-out;
}
@keyframes pulse-border {
  from {
    transform: scale(1);
    opacity: 0.7;
  }
  to {
    transform: scale(1.04);
    opacity: 1;
  }
}
@keyframes pulse-icon {
  from {
    transform: translate(-50%, -50%) scale(1.05);
    opacity: 1;
  }
  to {
    transform: translate(-50%, -50%) scale(0.95);
    opacity: 0.7;
  }
}

/* レスポンシブ */
@media (max-width: 768px) {
  .game-container {
    padding: 10px;
    gap: 5px
  }
  #enemy-container {
    height: 15%;
    min-height: 150px;
    padding: 10px;
  }
  #player-container {
    grid-template-columns: 1fr;
    gap: 0;
  }
  .player-container-left {
    padding: 5px;
    flex-direction: row;
  }
  .player-container-left-button {
    padding: 8px 10px;
  }
  .player-container-center-and-right {
    grid-template-columns: 3fr 2fr;
    gap: 0;
  }
  .player-container-center,
  .player-container-right {
    padding: 5px;
  }
  .player-container-center {
    gap: 5px;
  }
  .dice-area {
    gap: 5px;
  }
  .dice {
    width: 40px;
    height: 40px;
    font-size: 1.5rem;
  }
  #dice-hand-info-title {
    font-size: 1rem;
  }
  #dice-hand-info-effect-title {
    font-size: 0.7rem;
    padding-bottom: 5px;
  }
  #dice-hand-info-effect-value {
    font-size: 0.7rem;
    margin: 5px 0;
  }
  .dice-buttons button {
    font-size: 0.8rem;
  }
  .card.player {
    max-height: 250px;
    padding: 8px;
  }
  .card.player h3 {
    font-size: 1.1rem;
  }
  .game-image-container {
    height: 30%;
  }
  .card.player .player-card-container {
    gap: 5px;
  }
  .status-bar.hp {
    height: 15px;
  }
  .status-bar .label {
    font-size: 0.8rem;
  }
  #player-hp, #player-max-hp {
    font-size: 0.8rem;
  }
  .card .enemy-name {
    font-size: 0.8rem;
  }
  .card .enemy-hp {
    font-size: 0.7rem;
  }
}
@media (max-width: 480px) {
  #enemy-container {
    justify-content: flex-start;
  }
}